<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="feed-subscribe">
        <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg>
          <a href="/subscribe.html">Subscribe</a>
        </p>
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col"><ul><li><a href="https://github.com/z0br1s7"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">z0br1s7</span></a></li><li><a href="https://www.twitter.com/z0br1s7"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">z0br1s7</span></a></li><li><a href="https://www.youtube.com/channel/UC6DzDjEZGj5eL7lN_Ro_GCw"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#youtube"></use></svg> <span class="username">z0br1s7</span></a></li></ul>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    
      
      </div>

  </div>


</footer>
